.hero {
  padding: 40px 20px;
}

.title {
  font-size: clamp(32px, 5vw, 48px);
  font-weight: 900;
  line-height: 1.1;
}

.highlight {
  background: linear-gradient(45deg, #2196F3 30%, #00BCD4 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.description {
  color: var(--mantine-color-dimmed);
  max-width: 600px;
  font-size: clamp(1rem, 2vw, 1.1rem);
  line-height: 1.6;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%
  }

  .image {
    height: 280px;
    width: 280px;
    border-radius: var(--mantine-radius-md);
    @media (max-width: 768px) {
      width: 50%;
      height: 50%;
      border-radius: 50%;
    }
  }
}

.heroGroup {
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .hero {
    padding: 80px 0;
  }
  
  .heroGroup {
    flex-direction: row;
  }
  
  .imageWrapper {
    margin-top: 0;
  }
}
