/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/projects/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.page_container__iTHnK {
  padding: 80px 0;
}

.page_title__b5UrF {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 1rem;
  background: linear-gradient(45deg, #4dabf7 10%, #228be6 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page_card__uT2cQ {
  transition: transform 0.2s ease;
}

.page_card__uT2cQ:hover {
  transform: translateY(-5px);
}

